{% load staticfiles %}
{% load leaflet_tags %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#000000">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Parcel Centroid</title>

    {% leaflet_js %}
    {% leaflet_css %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://domoritz.github.io/leaflet-locatecontrol/dist/L.Control.Locate.min.css"/>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-ajax/2.1.0/leaflet.ajax.min.js"
            charset="utf-8"></script>

    <script src="https://domoritz.github.io/leaflet-locatecontrol/dist/L.Control.Locate.min.js"
            charset="utf-8"></script>
    <style media="screen">
        #untestmap {
            width: 100%;
            height: 100%
        }
    </style>
</head>
<body>
<script>
    function map_init_basic(map, options) {
        var CentroidLayer = new L.GeoJSON.AJAX("{% url 'centroid' %}", {
            pointToLayer: function (feature, latlng) {
                return L.marker(latlng);
            },
            onEachFeature:function(feature, layer) {
          layer.bindPopup('<b> Name:' + feature.properties.name + '</b><br>');
            }
        }).addTo(map);


        var OverlayLayers = {
            "Parcel Centroid": CentroidLayer,
        };

        L.control.layers(OverlayLayers).addTo(map)
    }
</script>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-icon-container">
                <a href="#" class="navbar-icon pull-right visible-xs" id="nav-btn"><i
                        class="fa fa-bars fa-lg white"></i></a>
                <a href="#" class="navbar-icon pull-right visible-xs" id="sidebar-toggle-btn"><i
                        class="fa fa-search fa-lg white"></i></a>
            </div>
            <a class="navbar-brand" href="#">Parcel Centroid</a>
        </div>
        <div class="navbar-collapse collapse">
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group has-feedback">

                    <input id="searchbox" type="text" placeholder="Search" class="form-control">
                    <span id="searchicon" class="fa fa-search form-control-feedback"></span>
                </div>
            </form>

        </div><!--/.navbar-collapse -->
    </div>

</div>
<div></div>
<div>
    {% leaflet_map "untestmap" callback="window.map_init_basic" %}
</div>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.5/typeahead.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"></script>
</body>
</html>